html
  include includes/head
  body
    include includes/topbar

    div.container
      div.content
        div.page-header
          h1 Home Page
        div.row
          div.span14
            h2 Speedup available:-
            ul
              li
                a(href="/overview") Overview
              li
                a(href="/features") Features
              li
                a(href="/features-heading") Features Heading
